<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= isLogin ? "Login" : "Register" %></title>
</head>

<body>
    <h1><%=  isLogin ? "Login" : "Register" %></h1>
    <form action="/api/<%= isLogin ? "login" : "register" %>" enctype="multipart/form-data" method="post">
        <% [{title: 'username', type: "text"}, {title: 'password',type: "password"}].forEach(item => { %>
        <label>
            <span><%= item.title %>:</span>
            <input type="<%= item.type %>" name="<%= item.title %>">
        </label>
        <br />
        <br />
        <% }) %>
        <a href="/views/<%= isLogin ? "register" : "login" %>">
            <%= isLogin ? "没" : "已" %>有账号，去<%=  isLogin ? "注册" : "登录" %>
        </a>
        <button style="margin-left: 30px;"><%= isLogin ? "登录" : "注册" %></button>
    </form>

</body>

</html>